@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
body {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
    height: auto;
}

body .container {
    max-width: 1080px;
}

#header {
    background: #1f1f1f;
}

#menu {
    display: flex;
    justify-content: space-between;
}

#menu .menu-right,
#menu .menu-left {
    display: flex;
}

#logo {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding: 11.5px 0px;
    text-decoration: none;
}

#logo span:first-child {
    color: #f54112;
}

#logo span:last-child {
    margin-left: -7px;
}

#help {
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: #666;
    transition: all .3s;
}

#help i {
    margin-right: 5px;
    font-size: 23px;
}

#help:hover {
    color: #fff;
}

#member-ship {
    text-decoration: none;
    font-weight: 700;
    color: #F6F6F6;
    font-size: 13px;
    margin: 10px 0px 10px 20px;
    background: #191919;
    vertical-align: middle;
    padding: 6px 15px;
    border-radius: 3px;
    transition: all .3s;
}

#member-ship:hover {
    background: #111;
}

#member-ship .premium {
    display: inline-block;
    background: #D7A700;
    padding: 2px;
    border-radius: 3px;
    margin-left: 2px;
}

#menu .menu-tool {
    margin: 0px 25px;
}

#menu .menu-tool ul {
    display: flex;
}

#menu .menu-tool ul li {
    padding: 14px;
}

#menu .menu-tool ul li a {
    position: relative;
}

#menu .menu-tool ul li a .menu-link-count {
    top: 50%;
    right: 4px;
    position: absolute;
    transform: translate(80%, 8%);
    padding: 2px 3px;
    margin: 0;
    min-width: 14px;
    text-align: center;
    border-radius: 50%;
    font-size: 9px;
    background: #f44b1e;
    color: #fff;
}

#menu .menu-right .user-infomation {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
}

#menu .menu-right .user-infomation .avatar img {
    width: 30px;
    height: 30px px;
    margin: 0;
    border: none;
    border-radius: 50%;
}

#menu .menu-right .user-infomation .avatar {
    position: relative;
    margin-right: 7px;
}

#menu .menu-right .user-infomation .avatar .user-status {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(0, -110%);
    right: 1px;
}

#menu .menu-right .user-infomation .avatar .user-status.online {
    background: #66c12c;
}

#menu .menu-right .user-infomation .icon {
    color: #666;
    margin-left: 7px;
}

#menu .menu-right {
    position: relative;
}

#menu .menu-right .tab-infomation {
    position: absolute;
    right: 0;
    top: 53px;
    width: 330px;
    z-index: 100;
}

#menu .menu-right .tab-infomation::before {
    content: '';
    padding: 5px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    right: 15%;
    top: -2%;
    transform: rotate(45deg);
}

#menu .menu-right .tab-infomation .card {
    border-radius: 10px;
    overflow: hidden;
}

#menu .menu-right .tab-infomation .card .card-header,
#menu .menu-right .tab-infomation .card .card-footer {
    background: #fff;
    transition: all .3s;
}

#menu .menu-right .tab-infomation .card .card-header:hover,
#menu .menu-right .tab-infomation .card .card-footer:hover {
    background: #FEF7F5;
}

#menu .menu-right .tab-infomation .card .card-header {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
}

#menu .menu-right .tab-infomation .card .card-header img {
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

#menu .menu-right .tab-infomation .card .card-header .user-detail {
    width: 100%;
}

#menu .menu-right .tab-infomation .card .card-header .user-detail .user-detail-header {
    color: #111;
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#menu .menu-right .tab-infomation .card .card-header .user-detail .user-detail-header span {
    color: #999;
    font-weight: 400;
}

#menu .menu-right .tab-infomation .card .card-header .user-detail .user-detail-middle {
    color: #999;
    font-size: 11px;
}

#menu .menu-right .tab-infomation .card .card-header svg {
    height: 18px;
}