.usersearch {
    display: flex;
    align-items: center;
}


/* The container */

.checkbox-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    margin: 0px 30px;
    display: flex;
    align-items: center;
}


/* Hide the browser's default checkbox */

.checkbox-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkbox-custom .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e3dbdb;
}


/* On mouse-over, add a grey background color */

.checkbox-custom:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-custom input:checked~.checkmark {
    background-color: rgb(245, 65, 18);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkbox-custom .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox-custom input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-custom .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */

.radio-custom {
    display: block!important;
    position: relative!important;
    padding: 0px 25px!important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.radio-custom .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #e3dbdb;
}


/* On mouse-over, add a grey background color */

.radio-custom:hover input~.checkmark {
    background-color: rgb(245, 68, 18);
}


/* When the radio button is checked, add a blue background */

.radio-custom input:checked~.checkmark {
    background-color: rgb(245, 68, 18);
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.radio-custom .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-custom input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-custom .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}